@model IEnumerable<SysManageCRUD.Models.Patient>
@{
    ViewData["Title"] = "Error";
}
<div class="row">
    <div class="col-9">
        <h1>patient management</h1>
    </div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary float-end"><i class="bi bi-plus-square">Add Patient</i></a>
    </div>
</div>

<div class="card bg-light p-3">
    <table class="table" id="tblCategorias">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>LastName</th>
                <th>Age</th>
                <th>Description</th>
            </tr>
        </thead>
    </table>
</div>