@model IEnumerable<SysManageCRUD.Models.Specialty>


@{
    ViewData["Title"] = "Specialty List";
}
<div class="row">
    <div class="col-9">

    </div>
    <div class="col-3">
        <a asp-action="Create" class="btn btn-primary float-end"><i class="bi bi-plus-square"></i>Add Specialty</a>
    </div>
</div>
<div class="card bg-light p-3">
    <table class="display nowrap" style="width:100%" id="tblSpecialtys">
        <thead>
            <tr>
                <th>Id</th>
                <th>Specialty Name</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/Specialtys.js"></script>

}
