@model SysManageCRUD.Models.LocationHpt

@{
    ViewData["Title"] = "Edit Location";
}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form asp-action="Edit" class="row g-3">
                <input type="hidden" asp-for="IdLocation" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-3">
                    <input asp-for="HospitalName" placeholder="Hospital Name" type="text" class="form-control" />
                    <span asp-validation-for="HospitalName" class="text-danger"></span>
                </div>
                <div class="col-md-8">
                    <textarea asp-for="Address" placeholder="Address..." class="form-control" rows="10" cols="125"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form btn-group row mt-4">
                    <div class="col-3">
                        <input type="submit" value="Edit Location" class="btn btn-primary form-control" />
                </div>
                    <div class="col-4">
                        <a asp-action="Index" class="btn btn-warning form-control">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


